@page
@using Persistence.Constants
@model PlantShop.Pages.Products.CartModel
@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="h2 inverse">Cart</h2>
        </div>
        <form asp-page-handler="ClearItem" method="post" class="col-6 text-right">
            <button type="submit" class="btn btn-primary mx-2"><i class="bi bi-trash"> Clear</i></button>
        </form>
        @*<div class="col-6 text-right">
        <a asp-page-handler="ClearItem" class="btn btn-primary rounded-pill">
        <i class="bi bi-trash"> Clear
        </a>
        </div>*@
    </div>

    <br /><br />
    <h4>Shopping Cart</h4>
    @if (Model.Cart.CartItems.Count() > 0)
    {
        <p>You have @Model.Cart.CartItems.Count() items</p>
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Product Name
                    </th>
                    <th>
                        Image
                    </th>
                    <th>
                        Category
                    </th>
                    <th>
                        Quantity
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Discount
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model.Cart.CartItems)
                {
                    <tr>
                        <td width="20%">@obj.Product.Name</td>
                        <td width="20%"><img src="@obj.Product.Description" /></td>
                        <td width="10%">@obj.Product.Category</td>
                        <td width="10%">@obj.Quantity</td>
                        <td width="10%">@obj.Product.Price</td>
                        <td width="10%">@obj.Product.Discount</td>
                        <td>
                            <div class="w-75 btn-group" role="group">
                                <a asp-page="Edit" asp-route-id="@obj.Id" class="btn btn-primary mx-2">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                                @*<a asp-page="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-2">
                                    <i class="bi bi-trash-fill"></i>
                                </a>*@
                                <form asp-page-handler="RemoveItem" method="post">
                                    @*<input asp-for="@obj.Id" />*@
                                    <input hidden type="text" name="Id" value="@obj.Id" />
                                    <button type="submit" class="btn btn-danger mx-2">
                                        <i class="bi bi-trash-fill"></i>
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Your cart is empty</p>
    }
    <div>
        <a asp-page="Index" class="btn btn-primary" style="width:150px;"><i class="bi bi-basket2"></i> Continue Shopping</a>
        <a asp-page="CheckOut" class="btn btn-secondary" style="width:150px;"><i class="bi bi-clipboard-check"></i> Check Out</a>
    </div>
</div>
<style>
    img {
        height: 20vh;
    }
</style>